<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Form</h1>
    <form method="post" action="/api/search">
      <input type="text" name="search">
      <input type="submit">
    </form>
  </body>
</html>
